In [1]:
import numpy as np
import pandas as pd

In [2]:
intakes = pd.read_csv('aac_intakes.csv')
intakes_outcomes = pd.read_csv('aac_intakes_outcomes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')

# Exploring and cleaning intakes file

In [3]:
intakes.head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [4]:
intakes.shape

(80187, 12)

In [5]:
intakes.dtypes

age_upon_intake     object
animal_id           object
animal_type         object
breed               object
color               object
datetime            object
datetime2           object
found_location      object
intake_condition    object
intake_type         object
name                object
sex_upon_intake     object
dtype: object

In [6]:
#checking if both datetime columns are the same. If so, I will drop one
intakes['datetime'].equals(intakes['datetime2'])

True

In [7]:
intakes = intakes.drop(['datetime2'], axis=1)

In [8]:
intakes.shape

(80187, 11)

In [9]:
#changing col 'datetime' to datetime type
intakes['datetime'] = pd.to_datetime(intakes['datetime'])
intakes.dtypes

age_upon_intake             object
animal_id                   object
animal_type                 object
breed                       object
color                       object
datetime            datetime64[ns]
found_location              object
intake_condition            object
intake_type                 object
name                        object
sex_upon_intake             object
dtype: object

In [10]:
#cleaning NaN's
intakes.isna().sum()

age_upon_intake         0
animal_id               0
animal_type             0
breed                   0
color                   0
datetime                0
found_location          0
intake_condition        0
intake_type             0
name                24584
sex_upon_intake         1
dtype: int64

In [11]:
intakes['name'] = intakes['name'].fillna('unknown')

In [12]:
intakes['sex_upon_intake'].value_counts(dropna=False)

Intact Male      25488
Intact Female    23860
Neutered Male    12794
Spayed Female    11231
Unknown           6813
NaN                  1
Name: sex_upon_intake, dtype: int64

In [13]:
intakes['sex_upon_intake'] = intakes['sex_upon_intake'].fillna('Unkown')

In [14]:
intakes.isna().sum()

age_upon_intake     0
animal_id           0
animal_type         0
breed               0
color               0
datetime            0
found_location      0
intake_condition    0
intake_type         0
name                0
sex_upon_intake     0
dtype: int64

# Exploring and cleaning intakes_outcomes file

In [15]:
intakes_outcomes.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [16]:
intakes_outcomes.shape

(79672, 41)

In [17]:
intakes_outcomes.dtypes

age_upon_outcome               object
animal_id_outcome              object
date_of_birth                  object
outcome_subtype                object
outcome_type                   object
sex_upon_outcome               object
age_upon_outcome_(days)         int64
age_upon_outcome_(years)      float64
age_upon_outcome_age_group     object
outcome_datetime               object
outcome_month                   int64
outcome_year                    int64
outcome_monthyear              object
outcome_weekday                object
outcome_hour                    int64
outcome_number                float64
dob_year                        int64
dob_month                       int64
dob_monthyear                  object
age_upon_intake                object
animal_id_intake               object
animal_type                    object
breed                          object
color                          object
found_location                 object
intake_condition               object
intake_type                    object
sex_upon_intake                object
count                           int64
age_upon_intake_(days)          int64
age_upon_intake_(years)       float64
age_upon_intake_age_group      object
intake_datetime                object
intake_month                    int64
intake_year                     int64
intake_monthyear               object
intake_weekday                 object
intake_hour                     int64
intake_number                 float64
time_in_shelter                object
time_in_shelter_days          float64
dtype: object

In [18]:
intakes_outcomes['date_of_birth'] = pd.to_datetime(intakes_outcomes['date_of_birth'])
intakes_outcomes['outcome_datetime'] = pd.to_datetime(intakes_outcomes['outcome_datetime'])
intakes_outcomes['intake_datetime'] = pd.to_datetime(intakes_outcomes['intake_datetime'])
intakes_outcomes.dtypes

age_upon_outcome                      object
animal_id_outcome                     object
date_of_birth                 datetime64[ns]
outcome_subtype                       object
outcome_type                          object
sex_upon_outcome                      object
age_upon_outcome_(days)                int64
age_upon_outcome_(years)             float64
age_upon_outcome_age_group            object
outcome_datetime              datetime64[ns]
outcome_month                          int64
outcome_year                           int64
outcome_monthyear                     object
outcome_weekday                       object
outcome_hour                           int64
outcome_number                       float64
dob_year                               int64
dob_month                              int64
dob_monthyear                         object
age_upon_intake                       object
animal_id_intake                      object
animal_type                           object
breed                                 object
color                                 object
found_location                        object
intake_condition                      object
intake_type                           object
sex_upon_intake                       object
count                                  int64
age_upon_intake_(days)                 int64
age_upon_intake_(years)              float64
age_upon_intake_age_group             object
intake_datetime               datetime64[ns]
intake_month                           int64
intake_year                            int64
intake_monthyear                      object
intake_weekday                        object
intake_hour                            int64
intake_number                        float64
time_in_shelter                       object
time_in_shelter_days                 float64
dtype: object

In [19]:
intakes_outcomes.isna().sum()

age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43324
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
dtype: int64

In [20]:
intakes_outcomes['outcome_subtype'].value_counts(dropna=False)

NaN                    43324
Partner                19840
Foster                  5490
SCRP                    3205
Suffering               2549
Rabies Risk             2539
Snr                      752
Aggressive               497
In Kennel                351
Offsite                  350
Medical                  265
In Foster                177
Behavior                 133
At Vet                    71
Enroute                   49
Underage                  28
Court/Investigation       23
In Surgery                17
Possible Theft             9
Barn                       3
Name: outcome_subtype, dtype: int64

In [21]:
intakes_outcomes['outcome_subtype'] = intakes_outcomes['outcome_subtype'].fillna('Other')

In [22]:
# filling Nan with mode
intakes_outcomes['outcome_type'].value_counts(dropna=False)

Adoption           33594
Transfer           23799
Return to Owner    14791
Euthanasia          6244
Died                 690
Disposal             304
Rto-Adopt            179
Missing               46
Relocate              15
NaN                   10
Name: outcome_type, dtype: int64

In [23]:
intakes_outcomes['outcome_type'] = intakes_outcomes['outcome_type'].fillna('Adoption')

In [24]:
intakes_outcomes['sex_upon_outcome'].value_counts(dropna=False)

Neutered Male    28293
Spayed Female    25549
Intact Male       9732
Intact Female     9308
Unknown           6789
NaN                  1
Name: sex_upon_outcome, dtype: int64

In [25]:
intakes_outcomes['sex_upon_outcome'] = intakes_outcomes['sex_upon_outcome'].fillna('Unknown')

In [26]:
intakes_outcomes['sex_upon_intake'].value_counts(dropna=False)

Intact Male      25317
Intact Female    23704
Neutered Male    12708
Spayed Female    11153
Unknown           6789
NaN                  1
Name: sex_upon_intake, dtype: int64

In [27]:
intakes_outcomes['sex_upon_intake'] = intakes_outcomes['sex_upon_intake'].fillna('Unknown')

In [28]:
intakes_outcomes.isna().sum()

age_upon_outcome              0
animal_id_outcome             0
date_of_birth                 0
outcome_subtype               0
outcome_type                  0
sex_upon_outcome              0
age_upon_outcome_(days)       0
age_upon_outcome_(years)      0
age_upon_outcome_age_group    0
outcome_datetime              0
outcome_month                 0
outcome_year                  0
outcome_monthyear             0
outcome_weekday               0
outcome_hour                  0
outcome_number                0
dob_year                      0
dob_month                     0
dob_monthyear                 0
age_upon_intake               0
animal_id_intake              0
animal_type                   0
breed                         0
color                         0
found_location                0
intake_condition              0
intake_type                   0
sex_upon_intake               0
count                         0
age_upon_intake_(days)        0
age_upon_intake_(years)       0
age_upon_intake_age_group     0
intake_datetime               0
intake_month                  0
intake_year                   0
intake_monthyear              0
intake_weekday                0
intake_hour                   0
intake_number                 0
time_in_shelter               0
time_in_shelter_days          0
dtype: int64

# Exploring and cleaning outcomes file

In [29]:
outcomes.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [30]:
outcomes.shape

(80681, 12)

In [31]:
outcomes.dtypes

age_upon_outcome    object
animal_id           object
animal_type         object
breed               object
color               object
date_of_birth       object
datetime            object
monthyear           object
name                object
outcome_subtype     object
outcome_type        object
sex_upon_outcome    object
dtype: object

In [32]:
outcomes['date_of_birth'] = pd.to_datetime(outcomes['date_of_birth'])
outcomes['datetime'] = pd.to_datetime(outcomes['datetime'])
outcomes['monthyear'] = pd.to_datetime(outcomes['monthyear'])
outcomes.dtypes

age_upon_outcome            object
animal_id                   object
animal_type                 object
breed                       object
color                       object
date_of_birth       datetime64[ns]
datetime            datetime64[ns]
monthyear           datetime64[ns]
name                        object
outcome_subtype             object
outcome_type                object
sex_upon_outcome            object
dtype: object

In [33]:
outcomes.isna().sum()

age_upon_outcome        8
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                24565
outcome_subtype     43788
outcome_type           14
sex_upon_outcome        2
dtype: int64

In [34]:
#filling NaN with mode
outcomes['age_upon_outcome'].value_counts(dropna=False)

1 year       14911
2 years      11683
2 months      9377
3 years       5326
3 months      3481
1 month       3424
4 years       3092
5 years       2789
4 months      2470
5 months      1995
6 months      1940
6 years       1878
8 years       1608
7 years       1588
3 weeks       1474
2 weeks       1348
10 months     1241
8 months      1221
4 weeks       1206
10 years      1205
7 months      1001
9 years        855
9 months       718
12 years       619
1 weeks        528
11 months      520
11 years       447
1 week         429
13 years       403
14 years       260
3 days         239
2 days         226
15 years       217
1 day          157
6 days         153
4 days         140
5 days         116
16 years       107
0 years         95
5 weeks         68
17 years        59
18 years        28
20 years        13
19 years        13
NaN              8
22 years         4
25 years         1
Name: age_upon_outcome, dtype: int64

In [35]:
outcomes['age_upon_outcome'] = outcomes['age_upon_outcome'].fillna('1 year')

In [36]:
outcomes['name'] = outcomes['name'].fillna('unknown')

In [37]:
outcomes['outcome_subtype'].value_counts(dropna=False)

NaN                    43788
Partner                20082
Foster                  5714
SCRP                    3211
Suffering               2563
Rabies Risk             2546
Snr                      755
Aggressive               508
Offsite                  367
In Kennel                354
Medical                  268
In Foster                183
Behavior                 142
At Vet                    71
Enroute                   49
Underage                  28
Court/Investigation       23
In Surgery                17
Possible Theft             9
Barn                       3
Name: outcome_subtype, dtype: int64

In [38]:
outcomes['outcome_subtype'] = outcomes['outcome_subtype'].fillna('other')

In [39]:
#filling Nan with mode
outcomes['outcome_type'].value_counts(dropna=False)

Adoption           34232
Transfer           24050
Return to Owner    14851
Euthanasia          6289
Died                 699
Disposal             304
Rto-Adopt            179
Missing               47
Relocate              16
NaN                   14
Name: outcome_type, dtype: int64

In [40]:
outcomes['outcome_type'] = outcomes['outcome_type'].fillna('Adoption')

In [41]:
outcomes['sex_upon_outcome'].value_counts(dropna=False)

Neutered Male    28702
Spayed Female    26001
Intact Male       9792
Intact Female     9370
Unknown           6814
NaN                  2
Name: sex_upon_outcome, dtype: int64

In [42]:
outcomes['sex_upon_outcome'] = outcomes['sex_upon_outcome'].fillna('Unkown')

In [43]:
outcomes.isna().sum()

age_upon_outcome    0
animal_id           0
animal_type         0
breed               0
color               0
date_of_birth       0
datetime            0
monthyear           0
name                0
outcome_subtype     0
outcome_type        0
sex_upon_outcome    0
dtype: int64

# Analysis

### Is there an area where more pets are found?

In [44]:
most_found = intakes['found_location'].value_counts()
most_found[:5]

Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
Name: found_location, dtype: int64

To get the reuslts I used the value_counts function and used slicing to view the top 5 results.

### What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?”

In [45]:
avg_intake_year = intakes_outcomes[intakes_outcomes['intake_year']== 2015]
avg_intake = len(avg_intake_year)/12

In [46]:
print(f'the monthly intake average is {avg_intake} animals')

the monthly intake average is 1558.25 animals

to get the monthly average I first filtered the df to get only the data for 2015. I then used the len function as each entry is for one intake and divided it by 12

In [47]:
months_2015 = avg_intake_year['intake_month'].value_counts()
above_avg = months_2015[months_2015 > avg_intake]

In [48]:
above_avg

6     2188
5     2092
10    1738
8     1717
7     1634
9     1590
Name: intake_month, dtype: int64

to get the months above average I used value_counts for the 'intake_month' column and then created a new variable for only the months that have a higher count than the average

### What is the ratio of incoming pets vs. adopted pets?

In [49]:
num_incoming = intakes['animal_id'].count()
num_adopted = len(outcomes[outcomes['outcome_type'] == 'Adoption'])
ratio = num_adopted / num_incoming

In [50]:
print(f'total number of intakes: {num_incoming}')
print(f'total number of adopted animals: {num_adopted}')
print(f'ratio of incoming vs adopted pets: {ratio.round(2)}')

total number of intakes: 80187
total number of adopted animals: 34246
ratio of incoming vs adopted pets: 0.43

to get the results I first created a variable for the number of intakes using the count() function. I created another variable for the number of adopted pets by filtering the 'outcome_type' column for 'Adoption' and then used the len() function. Lastly I divided both variables to get the ratio

### What is the distribution of the types of animals in the shelter?

In [51]:
intakes['animal_type'].value_counts()

Dog          45743
Cat          29659
Other         4434
Bird           342
Livestock        9
Name: animal_type, dtype: int64

to get the results I used the value_counts() function

### What are the adoption rates for specific breeds?

Top 5 dog breeds and adoption rate:

In [52]:
top_dog_breeds = intakes[intakes['animal_type'] == 'Dog']
top_dog_breeds = top_dog_breeds['breed'].value_counts()
top_dog_breeds = top_dog_breeds[:5]
top_dog_breeds

Pit Bull Mix                 6382
Chihuahua Shorthair Mix      4860
Labrador Retriever Mix       4841
German Shepherd Mix          1963
Australian Cattle Dog Mix    1105
Name: breed, dtype: int64

In [53]:
adopted_dogs = outcomes[(outcomes['outcome_type'] == 'Adoption') & (outcomes['animal_type'] == 'Dog')]

dogs = []

for x in adopted_dogs['breed']:
    if x in top_dog_breeds:
        dogs.append(x)
        
dogs = pd.Series(dogs)
dogs = dogs.value_counts()
dogs

Labrador Retriever Mix       2405
Pit Bull Mix                 2383
Chihuahua Shorthair Mix      2293
German Shepherd Mix           937
Australian Cattle Dog Mix     619
dtype: int64

In [54]:
percentage = dogs / top_dog_breeds *100
percentage

Australian Cattle Dog Mix    56.018100
Chihuahua Shorthair Mix      47.181070
German Shepherd Mix          47.733062
Labrador Retriever Mix       49.679818
Pit Bull Mix                 37.339392
dtype: float64

Top 5 colors and adoption rate

In [55]:
top_colors = intakes['color'].value_counts()
top_colors = top_colors[:5]
top_colors

Black/White    8340
Black          6710
Brown Tabby    4487
Brown          3618
White          2849
Name: color, dtype: int64

In [56]:
adopted_colors = outcomes[outcomes['outcome_type'] == 'Adoption']

color = []

for x in adopted_colors['color']:
    if x in top_colors:
        color.append(x)
        
color = pd.Series(color)
color = color.value_counts()
color

Black/White    3815
Black          2760
Brown Tabby    1914
White          1082
Brown           806
dtype: int64

In [57]:
percentage = color / top_colors *100
percentage

Black          41.132638
Black/White    45.743405
Brown          22.277501
Brown Tabby    42.656563
White          37.978238
dtype: float64

to get the results I first created a variable (using the intakes file) for the top breeds / colors using a filter and value_counts() functions.
then using the outcomes file I created another variable filtering for adopted animals and then using a loop to only get the animals that are in the top variable. I got a list and converted it to a Series to use the value_counts() functions.
to get the percentage I divided both variables with each other

### How many animals are spayed/neutered each month?
” is answered
The calculation assumes that all intact males and females will be spayed/neutered.
There is an explanation of how the answer was calculated for this question

In [63]:
fixed = intakes[(intakes['sex_upon_intake'] == 'Intact Female') | (intakes['sex_upon_intake'] == 'Intact Male')]
fixed = len(fixed)

In [61]:
total_months = intakes_outcomes['intake_monthyear'].nunique()

In [66]:
round(fixed / total_months)

914

to get the results I first got the number of all 'intact' animals using a filter and then len() functions. I then got the total amount of months using the nunique() function on the 'intake_monthyear' column. At the end I just divided both variables and rounded the result